@use 'sass:map';
@import '../../index';

// //////////////////////////
//       описание
// //////////////////////////
// 
// 
// 
// //////////////////////////



// //////////////////////////
// размер
// //////////////////////////

$valinput-size: 5em;             // default=10em



// //////////////////////////
// цвета
// //////////////////////////

$valinput-color-valid: map.get($colors, 'green', 'darken-3'); // #0d47a1
$valinput-color-error: map.get($colors, 'red', 'darken-4');   // #b71c1c



// //////////////////////////
// скорость анимации
// //////////////////////////

$round-time: 2s; // 180 deg / s
$timing: $round-time ease;
$timing-delay: calc($round-time * 0.75);
