{% load static %}

<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <title>GuideBot</title>
    <!-- Bootstrap core CSS -->
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Favicons -->
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="{% static "css/my.css" %}" rel="stylesheet">
  </head>
  <body class="d-flex flex-column h-100">
    
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><h1>[МГТУ] GuideBot</h1></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/libraries">Роботы</a>
          </li>
        </ul>
      </div>
        <div class="user-card align-self-end container-fluid me-2">
          <div class="row">
            <div class="col-xl-4 col-sm-4 user-avatar" style="background-image: url('{% static "img/optimus.png" %}'); background-size: cover;"></div>
            <div class="col-xl-8 col-sm-8">
              <div class="row">
                <strong>Кириллов Денис</strong>
              </div>
              <div class="row m-1">
                <div class="col-xl-6 col-sm-6"><a href="#">Настройки</a></div>
                <div class="col-xl-6 col-sm-6"><a href="#">Выход</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0 overflow-visible">
<div class="container-fluid">
  <div class="row vh-100">
    <!-- left pic -->
    <div class="col-xl-3 col-sm-1 side-pict-left"></div>
    <div class="col-xl-6 col-sm-10 question-block">
    <!-- central block -->
      <div class="container">
        <!-- Заголовок -->
        <div class="row">
          <div class="d-flex flex-row align-items-center justify-content-start" style="margin-top:100px; z-index: 1;">
            <div class="text-shadowed d-flex">
              <h3>
              {% block page_heading %}
              {% endblock page_heading %}
              </h3>
            </div>
            <div class="d-flex m-4 page-headingurl">
              {% block page_heading_url %}
              {% endblock page_heading_url %}
            </div>
          </div>
        </div>
        <!-- Тело -->
        <div class="row">
          <!-- <div class="col-xl-8 col-sm-8 me-2 mb-5 page_content"> -->
            <div class="col page_content">
            <!-- v Контент страницы v -->
            {% block page_content %}
            
            {% endblock page_content %}
            <!-- ^ Контент страницы ^ -->
          </div>
        </div>
      </div>
    </div>
    <!-- ^ central block end ^ -->
    <!-- right pict  -->
    <div class="col-xl-3 col-sm-1 side-pict-right"></div>
  </div>
</div>
</main>

<footer class="footer py-2 fixed-bottom bg-dark">
  <div class="container">
    <div class="d-flex flex-row justify-content-around align-items-center">
      <div class="text-white d-flex">(c) BMSTU 2022 </div>
      <div class=" text-white d-flex">[GuideBot]</div>
    </div>
  </div>
</footer>


    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>

      
  </body>
</html>